/* font adding*/

@font-face {
    font-family: 'Lato';
    src: url(Lato-BlackItalic.ttf);
}

* {
    box-sizing: border-box;
}

section:after {
    content: "";
    clear: both;
    display: table;
}

h1 {
    text-align: center;
    font-size: 4rem;
    color: blue;
}

h2 {
    text-align: center;
    font-size: 3rem;
    color: red;
}

h3 {
    text-align: center;
    font-size: 2rem;
    color: black;
}

body {
    margin: 0;
    background-color: black;
}

img {
    display: block;
    width: 100%;
}

li {
    list-style-type: none;
}

.grid-item {
    background-color: thistle;
    width: calc(25% - 2rem);
    min-width: 180px;
    height: 600px;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    overflow: auto;
}

.grid-item:hover {
    cursor: crosshair;
    transform: translateY(3%);
}


/*GRID FLOATS*/

#grid-floats li {
    float: left;
}

#grid-floats li:nth-child(1) {
    width: calc(50% - 3rem);
}


/* GRID FLEX */

#grid-flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#grid-flex li:nth-child(1) {
    width: calc(50% - 3rem);
}


/* TABLET VIEW*/

@media only screen and (min-width:601px) and (max-width:1024px) {
    #grid-floats li:nth-child(-n+2) {
        width: calc(50% - 2rem);
    }
    #grid-floats .grid-item {
        width: calc(33% - 1.5rem);
    }
    #grid-flex li:nth-child(-n+2) {
        width: calc(50% - 2rem);
    }
    #grid-flex .grid-item {
        width: calc(33% - 1.5rem);
    }
}


/* mobile view*/

@media only screen and (max-width:600px) {
    #grid-floats li:nth-child(1) {
        width: calc(100% - 1rem);
    }
    #grid-floats .grid-item {
        width: calc(30% - 1rem);
    }
    #grid-flex li:nth-child(1) {
        width: calc(100% - 1rem);
    }
    #grid-flex .grid-item {
        width: calc(30% - 1rem);
    }
    #grid-floats li {
        width: 40%;
    }
}
